body {
  font-family: Arial, sans-serif;
    margin: 20px;
    transition: 2s linear;
    text-align: center;
  }
  .container > :last-child {
    margin-bottom: 0;
  }
  
  .container-fluid {
    background: rgb(65, 226, 76);
  }
  
  .container-fluid a {
    font-weight: bold;
  }
  
  .navbar-brand {
    text-align: center;
  }
  
  .navbar-brand img {
    width: 30%;
    height: auto;
  }
  .navbar-brand h3{
    color: rgb(77, 196, 41);
    font-weight: bold;
  }
  
  .nav-item {
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item :hover {
    cursor: pointer;
    color: #FCD917;
  }
  
  .d-flex  i{
    cursor: pointer;
  }
  .container .d-flex i:hover {
    color: red;
  }

  h1 {
    color: #333;
  }
  
  h2 {
    color: #666;
  }
  
  p {
    color: #999;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  li {
    margin-bottom: 10px;
  }
